#form-container,
#form-full-container {
  padding: 80px;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 70px 20px;
  }

  #form-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    width: 892px;
    margin: auto;

    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      gap: 18px;
    }
  }

  .left-side {
    max-width: 453px;
    width: 100%;

    @media (max-width: 768px) {
      box-sizing: border-box;
    }

    span {
      font-family: 'work Sans', 'Poppins';
      font-weight: 400;
      font-size: 42px;
      color: white;
      line-height: 50px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 28px;
      }
    }

    p {
      font-family: 'work Sans', 'Poppins';
      color: white; 
      margin: 10px 0 38px 0;

      @media (max-width: 768px) {
        font-size: 14px;
        line-height: 1;
        margin: 10px 0 0 0;
      }
      
    }

    img{
      width: 167px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  
  .form {
    width: 100%;
    max-width: 352px;

    @media (max-width: 768px) {
      max-width: none;
    }

    label {
      display: flex;
      flex-direction: column;
      color: #FDFDFD;
      font-weight: 600;
      font-family: 'Work Sans', 'Poppins';
      font-size: 14px;
      line-height: 24px;

      margin-bottom: 14px;

      input {
        font-family: 'work Sans', 'Poppins';
        background: #FDFDFD;
        margin-top: 10px;
        padding: 13px 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: #B5B5B5;

        &::placeholder {
          color: #B5B5B5;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 14px;
      background: #EDE4C0;
      width: 138px;
      border-radius: 90px;
      border: none;
      padding: 10px 10px 10px 24px;
      text-align: center;
      color: #181818;
      font-weight: 400;
      font-family: 'Work Sans', 'Poppins';
      cursor: pointer;
      margin-top: 30px;
      margin-left: auto;

      &:hover {
        background: #181818;
        color: #EDE4C0;
        border: 1px solid #EDE4C0;
      }

      img{
        width: 26px;
      }
      
    }
  }


  .form-image {
    width: 100%;
    max-width: 500px;
  }
}