@use "./settings/settings" as *;

#topics-container {
  padding: 86px 80px;
  display: flex;
  flex-direction: column;
  background: #F1F9F7;

  .title {
    font-size: 32px;
    font-weight: bold;
    font-family: $font-family_1;
    text-align: center;
    color: $color_1;
    margin-bottom: 42px;
  }

  .topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: anchor-center;
    gap: 38px;
    margin-bottom: 60px;

    .topic {
      display: flex;
      align-items: start;
      max-width: 630px;
      gap: 24px;

      .number {
        font-family: $font-family_1;
        font-size: 72px;
        font-weight: bold;
        color: #AEE0D0;
        margin: 0;
        line-height: normal;
        width: 95px;
      }

      .description-container {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .title {
          font-family: $font-family_1;
          font-size: 22px;
          font-weight: bold;
          color: $color_1;
          margin: 0;
          line-height: 24px;
          text-align: left;
        }

        .description {
          font-family: $font-family_1;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          color: $color_1;
          margin: 0;
        }
      }
    }

    @include mobile {

      .topic {
        flex-direction: column;
        align-items: end;

        .number {
          width: 30px;
          height: 30px;
          padding: 20px;
        }

        .description-container {
          > div {
            display: flex;
            align-items: center;
            gap: 10px;
            max-width: 370px;
            margin-left: auto;
          }

          .title {
            margin-bottom: 18px;
          }
        }
      }
    }
  }

  .duration-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    width: 818px;

    .duration-link,
    .duration-time {
      display: flex;
      align-items: center;
      margin: 0;
      gap: 10px;
      padding: 8px;
      max-height: 28px;
      width: 222px;

      img {
        max-width: 26px;
        max-height: 26px;
      }

      .duration-text {
        font-family: $font-family_1;
        margin: 0;
        word-wrap: break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.77px;
        color: $color_1;
      }
    }

    @include mobile {
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 0;

      .duration-link .duration-text,
      .duration-time .duration-text {
        font-size: 14px;
      }
    }
  }

  @include mobile {
    padding: 70px 20px;

    span {
      font-size: 28px;
    }
  }
}
