@use "./settings/settings" as *;

#speakers-container {
	padding: 60px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;


	* {
		font-family: $font-family_1 !important;
		font-weight: 900 !important;
	}


	@include mobile {
		padding: 40px 20px;
		background-repeat: no-repeat;
		background-color: white;
	}

	.description {
		font-family: $font-family_1;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0.05em;
		color: $color_1;
		margin: 0 auto 42px;
		max-width: 726px;
		text-align: center;

		@include mobile {
			font-size: 14px;
			text-align: center;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: start;

		@include mobile {
			align-items: center;
		}

		.title {
			font-family: $font-family_1;
			font-size: 32px;
			font-weight: 700;
			line-height: 42px;
			letter-spacing: 0.05em;
			color: $color_1;
			margin: 0 0 32px;
			text-align: left;

			@include mobile {
				font-size: 28px;
			}
		}

		.speakers-container {
			display: flex;
			gap: 120px;

			@include mobile {
				flex-direction: column;
				align-items: center;
				gap: 32px;
			}

			.speakers {
				display: grid;
				width: fit-content;
				grid-template-columns: 1fr 1fr;
				gap: 22px;

				@include mobile {
					flex-wrap: wrap;
					justify-content: space-between;
					gap: 20px;
				}

				.person {
					display: flex;
					flex-direction: column;
					align-items: start;
					text-transform: uppercase;
					width: fit-content;

					img {
						max-width: 164px;
						margin-bottom: -9px;

						@include mobile {
							max-width: 139px;
						}
					}

					span {
						background: #aee0d0;
						padding: 6px 0 2px;
						font-family: $font-family_1;
						font-size: 13px;
						font-weight: 700;
						color: #000;
						text-align: center;
						margin-bottom: 5px;
						max-width: 164px;
						width: 100%;
						letter-spacing: 1px;

						@include mobile {
							max-width: 139px;
							font-size: 12px;
						}
					}

					&:last-child {
						> p {
							padding-right: 0px;
						}
					}

					p {
						background: #dddddd;
						padding: 6px 13px 3px;
						font-family: $font-family_1;
						font-size: 10px;
						font-weight: 300;
						color: $color_2;
						text-align: left;
						line-height: 12px;
						margin: 0;
						max-width: 183px;

						@include mobile {
							padding: 6px 5px 3px;
							max-width: 145px;
							font-size: 8px;
						}
					}
				}

			}

			.text {

				@include mobile {
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				p {
					max-width: 547px;
					margin: 60px 0 0;
					font-family: $font-family_1;
					color: $color_1;
					font-size: 24px;
					font-weight: 400;

					@include mobile {
						text-align: center;
						font-size: 18px;
						margin: 0;
					}

				}

				a {
					display: block;
					background: #9f7bf5;
					color: white;
					font-size: 18px;
					font-family: $font-family_1;
					text-decoration: none;
					width: 288px;
					height: 50px;
					margin-top: 32px;
					align-content: center;
					text-align: center;
					border-radius: 4px;

					&:hover {
						background: #5E3EA7;
					  }

					@include mobile {
						width: 100%;
						font-size: 16px;
						text-transform: uppercase;
						margin-top: 20px;
					}
				}
			}
		}
	}
}