@use "./settings/settings" as *;

#topics-container {
  padding: 86px 80px;
  display: flex;
  flex-direction: column;
  background: #F1F9F7;

  .title {
    font-size: 73px;
    font-weight: 900;
    font-family: $font-family_1;
    text-align: center;
    color: $color_1;
    margin-bottom: 42px;

    @include mobile {
      font-size: 28px;
      margin-bottom: 32px;
    }
  }

  .topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: anchor-center;
    gap: 38px;
    margin-bottom: 60px;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 40px;
      margin-bottom: 30px;

      .topic:nth-child(1) { order: 1; }
      .topic:nth-child(3) { order: 2; }
      .topic:nth-child(5) { order: 3; }
      .topic:nth-child(2) { order: 4; }
      .topic:nth-child(4) { order: 5; }
      .topic:nth-child(6) { order: 6; }
    }

    .topic {
      display: flex;
      align-items: start;
      max-width: 630px;
      gap: 24px;

      @include mobile {
        gap: 12px;
      }

      .number {
        font-family: $font-family_1;
        font-size: 72px;
        font-weight: 900;
        color: #AEE0D0;
        margin: 0;
        line-height: normal;
        width: 95px;

        @include mobile {
          font-size: 60px;
          width: 67px;
          flex-shrink: 0;
        }

      }

      .description-container {
        display: flex;
        flex-direction: column;
        gap: 14px;

        @include mobile {
          flex-direction: row;
          align-items: center;
          gap: 30px;

          > div {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
          }
        }

        .title {
          font-family: $font-family_1;
          font-size: 22px;
          font-weight: 900;
          color: $color_1;
          margin: 0;
          line-height: 24px;
          text-align: left;

          @include mobile {
            font-size: 16px;
          }
          
        }

        .description {
          font-family: $font-family_1;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          color: $color_1;
          margin: 0;

          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }

  .duration-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 10px;
    width: 818px;

    .duration-link,
    .duration-time {
      display: flex;
      align-items: center;
      margin: 0;
      gap: 10px;
      padding: 8px;
      max-height: 28px;
      width: 222px;

      img {
        max-width: 26px;
        max-height: 26px;
      }

      .duration-text {
        font-family: $font-family_1;
        margin: 0;
        word-wrap: break-word;
        font-size: 16px;
        font-weight: 450;
        line-height: 18.77px;
        color: $color_1;

        @include mobile {
          font-size: 14px;
        }
      }
    }

    @include mobile {
      flex-wrap: wrap;
      width: 100%;
      padding: 10px 0;
    }
  }

  @include mobile {
    padding: 70px 20px;

    span {
      font-size: 28px;
    }
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
