
@use "./settings/settings" as *;

.cta {
    width: 100%;
    max-width: 288px;
	border-radius: 4px;
	padding: 16.5px 19px;
    font-size: 18px;
	font-weight: 900;
	font-family: $font-family_1;
	cursor: pointer;
	text-transform: uppercase;
    margin: 24px auto 0;
    border: none;

	&:hover {
        background: #5E3EA7 !important;
    }

	@include mobile {
		max-width: unset;
		font-weight: 900;
	}
}
