#about-container {
  background: #181818;
  padding: 150px 98px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  @media (max-width: 768px) {
    flex-direction: column;
    padding: 82px 20px;
    justify-content: unset;
  }

  .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 32px;
    }
  }

  .left-side {
    max-width: 518px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;

    span {
      color: #DDDDDD;
      font-family: 'Poppins';
      font-size: 18px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0.15em;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 16px;
        letter-spacing: 2.4px;
      }
    }

    p {
      color: #FDFDFD;
      font-family: 'Work Sans';
      font-size: 32px;
      font-weight: 300;
      line-height: 42px;
      letter-spacing: 0.05em;
      margin: 0;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 36px;
        line-height: 1;
      }

      strong{
        font-weight: 700;
      }
    }
  }

  .about-text {
    color: #DDDDDD;
    font-family: 'work Sans', 'Poppins';
    font-size: 14px;
    line-height: 20p;
    letter-spacing: 0.05em;
    max-width: 634px;
    
    @media (max-width: 768px) {
      font-size: 14px;
      margin: 0;
    }

    strong {
      color: #EDE4C0;
      font-weight: 700;
      letter-spacing: 0.8px;
    }

  }

  .about-image {
    width: 100%;
    max-width: 500px;
  }
}