#topics-container {
  padding: 138px 100px;
  display: flex;
  flex-direction: column;
  background: #F2F2F2;

  @media (max-width: 768px) {
    padding: 70px 20px;
  }

  span {
    font-family: 'Work Sans';
    font-size: 32px;
    color: #181818;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    margin-bottom: 32px;
    line-height: 42px;
    letter-spacing: 0.05em;
  }

  .topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    margin-bottom: 52px;

    .topic {
      display: flex;
      align-items: center;
      gap: 30px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: end;
      }


      .number {
        font-family: "Homenaje";
        font-size: 52px;
        font-weight: 400;
        color: #181818;
        line-height: 50px;
        letter-spacing: 0.02em;

        border-radius: 200px;
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        position: relative;


        @media (max-width: 768px) {
          width: 30px;
          height: 30px;
          font-size: 30px;
          padding: 20px;
        }

        img{
          width: 61px;
          position: absolute;
          z-index: 1;
          left: -18px;
          top: -12px;
        }

        span{
          z-index: 2;
          margin: 0;
          font-family: "Homenaje";
          font-size: 52px;
          font-weight: 400;
          color: #181818;
        }
      }

      .description-container {
        display: flex;
        flex-direction: column;
        max-width: 666px;

        @media (max-width: 768px) {
          >div {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        .title {
          font-family: "Work Sans";
          font-size: 18px;
          font-weight: 600;
          color: #181818;
          margin: 0;
          line-height: 24px;
          letter-spacing: 0.05em;
          margin-bottom: 10px;

          @media (max-width: 768px) {
            font-size: 16px;
          }
        }

        .description {
          font-family: "Work Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          color: #181818;
          margin: 0;

          @media (max-width: 768px) {
            &::after {
              content: "";
              display: block;
              margin-top: 16px;
              width: 100%;
              height: 1px;
              background-color: #b7b7b7;
            }
          }

        }
      }

    }
  }

  .duration-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: #EDE4C0;
    border-radius: 5px;
    gap: 10px;
    width: 818px;
    
    &::before{
      content: none !important;
    }


    @media (min-width: 768px) {
      &::before {
        content: "";
        width: 1px;
        height: 95px;
        background-color: #b7b7b7;
        margin-right: 40px;
      }
    }

    .duration-time,
    .duration-link{
      display: flex;
      align-items: center;
      margin: 0;
      gap: 10px;
      padding: 8px;
      max-height: 28px;
      width: 222px;

      img {
        max-width: 26px;
        max-height: 26px;
      }

      .duration-text{
        font-family: 'Work Sans';
        margin: 0;
        word-wrap:break-word;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.77px;
        color: #181818;
      }
    }
  }
}