@use "./settings/settings" as *;

#form-full-container {
  background-size: contain !important;

  @include mobile {
    padding-top: 425px !important;
  }

  #form-content {
    width: 100% !important;
    justify-content: end !important;
    margin-left: auto;

    @include mobile {
      margin: 0 !important;
      align-items: center !important;
    }

    .form {
      background: #F2F2F2;
      padding: 31.5px 27.5px;
      border-radius: 15px;
      box-sizing: border-box;

      @include mobile {
        padding: 16px;
        max-width: 350px;
      }

      .form-title {
        font-family: $font-family_1;
        font-size: 32px;
        font-weight: bold;
        color: $color_1;
        line-height: 1;
        margin: 0 0 10px 0;
      }

      label {
        color: $color_1;

        input {
          // background: #F2F2F2;
          color: $color_1;
          border: 1px solid #DDDDDD;
          box-sizing: border-box;

          &::placeholder {
            color: #848484;
          }
        }
      }
    }
  }
}

#form-container,
#form-full-container {
  padding: 80px;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  
  @include mobile {
    flex-direction: column;
    padding: 70px 20px;
  }

  #form-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    width: 892px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
      gap: 18px;
    }
  }

  .left-side {
    max-width: 453px;
    width: 100%;

    @include mobile {
      box-sizing: border-box;
    }

    span {
      font-family: $font-family_1;
      font-weight: 400;
      font-size: 42px;
      color: white;
      line-height: 50px;
      letter-spacing: 0.05em;
      // text-transform: uppercase;

      @include mobile {
        font-size: 28px;
      }
    }

    p {
      font-family: $font-family_1;
      color: white;
      font-weight: 300;
      margin: 10px 0 38px 0;

      @include mobile {
        font-size: 14px;
        line-height: 1;
        margin: 10px 0 0 0;
      }
      
    }

    img{
      width: 167px;

      @include mobile {
        display: none;
      }
    }
  }
  
  .form {
    width: 100%;
    max-width: 352px;

    @include mobile {
      max-width: none;
    }

    label {
      display: flex;
      flex-direction: column;
      color: #FDFDFD;
      font-weight: 600;
      font-family: $font-family_1;
      font-size: 14px;
      line-height: 24px;

      margin-bottom: 14px;

      input {
        font-family: $font-family_1;
        background: #fff;
        margin-top: 10px;
        padding: 13px 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $color_1;

        &::placeholder {
          color: #B5B5B5;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    button {
      font-family: $font-family_1;
      cursor: pointer;
      display: block;
      margin-top: 24px;
      margin-left: auto;

      width: 100%;
      max-width: 241px;
      padding: 14px 0;
      border-radius: 4px;
      border: none;
      background: #9F7BF5;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      line-height: 1;

      @include mobile {
        max-width: unset;
      }
    }
  }


  .form-image {
    width: 100%;
    max-width: 500px;
  }
}